/node_modules
logs/*.log
/xvba_excel_backup
.gitignore
secret/
~$*
*.tmp

/releases/
/venv/

# ignore test case files
/CAD/
/PDF/
/_CAD/
/_PDF/

# secret files
/docs
/testCases
vba-files/Module/GenerateSecret.bas
